<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section class="main-bak">
        <div class="wrapper">
            <div class="inner">
                <div class="tit-wrap center">
                    <div>
                        <h2>올리브 항공편 예매</h2>
                        <div class="ticketing-top">
                            <div class="ticketing-top-text">Trip Begins <span class="small-text">With</span> Olive</div>
                        </div>
                        <div class="ticketing-bottom">
                            <div class="ticketing-bottom-inner">
                                <div class="main-select-btn">
                                    <ul class="select-btn-list">
                                        <li>
                                            <a class="select-btn on">
                                                <input class="btn-not-visible" id="tripTypeRT" name="tripType" type="radio">
                                                <label class="select-btn-label" for="tripTypeRT">왕복</label>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="select-btn">
                                                <input class="btn-not-visible" id="tripTypeOW" name="tripType" type="radio">
                                                <label class="select-btn-label" for="tripTypeOW">편도</label>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>