<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section class="main-bak">
        <div class="wrapper">
            <div class="inner">
                <div class="tit-wrap center">
                    <div>
                        <div class="ticketing-top">
                            <div class="ticketing-top-text">Trip Begins <span class="small-text">With</span> Olive</div>
                        </div>
                        <div class="ticketing-bottom">
                            <div class="ticketing-bottom-inner">
                                <div class="main-select-btn">
                                    <ul class="select-btn-list">
                                        <li>
                                            <a class="select-btn on">
                                                <input class="btn-not-visible" id="tripTypeRT" name="tripType" type="radio" text="출발지">
                                                <label class="select-btn-label" for="tripTypeRT">왕복</label>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="select-btn">
                                                <input class="btn-not-visible" id="tripTypeOW" name="tripType" type="radio">
                                                <label class="select-btn-label" for="tripTypeOW">편도</label>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ticketing-bottom-inner-bottom">
                                    <div class="ticketing-select-btn">
                                        <input class="ticketing-select-btn-input" readonly value="출발지">
                                        <a class="location-img"></a>
                                    </div>
                                    <div class="ticketing-select-btn">
                                        <input class="ticketing-select-btn-input" readonly value="도착지">
                                        <a class="location-img"></a>
                                    </div>
                                    <div class="ticketing-select-btn-calender">
                                        <input class="ticketing-select-btn-calender-input" readonly value="YYYY-MM-DD">
                                        <span class="calender-span">~</span>
                                        <input class="ticketing-select-btn-calender-input" readonly value="YYYY-MM-DD">
                                        <a class="calender-img"></a>
                                    </div>
                                    <!--<div class="ticketing-select-btn">
                                        <input class="ticketing-select-btn-input" readonly value="인원수">
                                        <a class="man-img"></a>
                                    </div>-->
                                    <div class="ticketing-select-btn">
                                        <div class="ticketing-select-btn-div">
                                            <span>성인</span>
                                            <p>5</p>
                                            <div>/</div>
                                            <span>소아</span>
                                            <p>6</p>
                                            <div>/</div>
                                            <span>유아</span>
                                            <p>7</p>
                                        </div>
                                        <a class="man-img"></a>
                                    </div>
                                    <button class="submit-btn">조회</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>