<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="wrapper">
            <div class="inner">
                <div class="tit-wrap center">
                    <div>
                        <h2>올리브 항공편 예매</h2>
                        <div class="ticketing">
                            12312313
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>