<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout (pageCss, pageScript, content)">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <!-- Page Css -->
    <!--<th:block th:replace="${pageCss}"></th:block>-->

    <!-- 주소 api -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script type="application/javascript" th:src="@{/js/common.js}"></script>
    <!-- Page Script 각 page별 script를 적용 하는 용도 -->
    <th:block th:replace="${pageScript}"></th:block>
</head>
<body>
    <div>
        <header th:replace="~{layout/header :: header}"></header>
        <main th:insert="${content}" class="container"></main>
        <footer th:replace="~{layout/footer :: footer}"></footer>
    </div>
</body>
</html>