<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <th:block th:with="authentication=${#authentication.getName()}, principal=${#authentication.principal}">
        <div class="inner" th:object="${userInfo}">
            <h1 class="logo">
                <a class="logo-img"></a>
            </h1>
            <nav class="pc">
                <ul>
                    <li th:if="${authentication} == 'anonymousUser'"><a href="/login">로그인</a></li>
                    <li th:if="${authentication} != 'anonymousUser'"><a th:text="${#authentication.principal.userNm}"></a></li>
                    <th:block th:if="${authentication} != 'anonymousUser'">
                        <li th:if="${#authentication.principal.role} == 'auth00001'"><a href="/admin">비행기 등록</a></li>
                    </th:block>
                    <th:block th:if="${authentication} != 'anonymousUser'">
                        <li th:if="${#authentication.principal.role} == 'auth00001'"><a href="/admin/course">코스 등록</a></li>
                    </th:block>
                    <li th:if="${authentication} == 'anonymousUser'"><a href="/join/member">회원가입</a></li>
                    <li th:if="${authentication} != 'anonymousUser'"><a href="/logout">로그아웃</a></li>
                    <li><a href="/">항공권 예매</a></li>
                    <li th:if="${authentication} != 'anonymousUser'"><a href="/">마이페이지</a></li>
                </ul>
            </nav>
        </div>
    </th:block>
</header>
<body>
</body>
</html>