@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Pretendard";
  src: url(/font/Pretendard-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url(/font/Pretendard-Medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url(/font/Pretendard-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url(/font/Pretendard-Light.woff);
  font-weight: 300;
}

:root {
  --color-primary: #2E66E9;
  --color-red: #FF6060;
  --color-border: #E8E8E8;
  --color-green: #13793d;
  --color-purple: #915BFF;
  --txt-gray: #5d626f;
  --txt-sub: #7F8695;
  --txt-disabled: #a0a2a5;
  --bg-sky: #f8f9fb;
  --bg-blue: #e5edfb;
  --bg-red: #FFECEC;
  --bg-green: #e5f5ed;
  --bg-purple: #EEEBFF;
  --btn-border: #dfdfdf;
}

html {
  font-size: 16px;
}

body {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5pt;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e5e5e8;
}

.inner {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/*.radio input {
  width: 22px;
  height: 22px;
}
.radio input::before {
  border-radius: 50%;
  background: #ebebeb;
}
.radio input::after {
  width: 8px;
  height: 8px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background: #fff;
}
.radio input:checked::before {
  background: var(--color-primary);
}
.radio span {
  width: calc(100% - 6px);
  padding-left: 6px;
}*/




/*button {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  border: 0;
  line-height: 1;
  letter-spacing: -0.5pt;
  cursor: pointer;
}

.btn {
  display: inline-block;
  min-width: 6.25rem;
  height: 3rem;
  padding: 1rem 1.5rem;
  text-align: center;
  white-space: nowrap;
  font-size: 0.938rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: background-color ease 0.1s, border ease 0.1s;
  cursor: pointer;
  outline-offset: 3px;
}
.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn.blue {
  background: var(--color-primary);
  color: #fff;
}
.btn.blue:hover {
  background: #1c57e1;
}
.btn.sky {
  background: #e9f1ff;
  color: var(--color-primary);
}
.btn.sky:hover {
  background: #e0ebff;
}
.btn.gray {
  background: #eff2f5;
  color: var(--txt-gray);
}
.btn.gray:hover {
  background: #e5e9ef;
}
.btn.red {
  border: 1px solid var(--btn-border);
  background: #fff;
  color: var(--color-red);
}
.btn.red:hover {
  border: 1px solid var(--color-red);
}
.btn.green {
  background: var(--bg-green);
  color: var(--color-green);
}
.btn.green:hover {
  background: #d2f1e2;
}
.btn.border {
  border: 1px solid var(--btn-border);
  background: #fff;
  color: var(--color-primary);
}
.btn.border:hover {
  border: 1px solid var(--color-primary);
}
.btn img {
  width: 0.875rem;
  margin: 0 0.25rem -0.125rem 0;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  gap: 0.375rem;
  margin-top: 2.5rem;
}
.btn-wrap.right {
  justify-content: flex-end;
  margin-top: 1.25rem;
}

.btn-reset {
  min-width: auto;
  height: 2.125rem;
  margin-top: 1.25rem;
  padding: 0.563rem 1.125rem;
  font-size: 0.875rem;
  border-radius: 1rem;
}*/

header {
  border-bottom: 1px solid var(--color-border);
  background: #fff;
}
header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo a {
  display: block;
  width: 74px;
  padding: 0.75rem 0;
}
header .logo a img {
  width: 100%;
}
header nav.pc > ul > li {
  position: relative;
  display: inline-block;
}
header nav.pc > ul > li:hover {
  color: var(--color-primary);
}
header nav.pc > ul > li:hover span::after {
  width: calc(100% + 6px);
}
header nav.pc > ul > li > a {
  display: block;
  padding: 1.5rem 1.25rem;
  font-weight: 500;
  transition: color ease 0.2s;
}
header nav.pc > ul > li span {
  position: relative;
  z-index: 1;
}
header nav.pc > ul > li span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 8px;
  bottom: -2px;
  left: -3px;
  border-radius: 8px;
  background: #e6f3ff;
  z-index: -1;
  transition: width ease 0.3s;
}
header nav.pc .dep2 {
  position: absolute;
  display: none;
  padding: 6px;
  top: 64px;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid var(--color-border);
  border-radius: 0 0 10px 10px;
  background: #fff;
}
header nav.pc .dep2 li {
  display: block;
}
header nav.pc .dep2 li:not(:last-of-type) {
  margin-bottom: 4px;
}
header nav.pc .dep2 a {
  display: block;
  width: 170px;
  padding: 14px 18px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  color: var(--txt-gray);
  transition: color ease 0.2s, background-color ease 0.2s;
}
header nav.pc .dep2 a:hover {
  color: var(--color-primary);
  background: #f3f7ff;
}
header .right li {
  display: inline-block;
}
header .right li:not(:last-of-type) {
  margin-right: 0.875rem;
}
header .right a {
  font-size: 0.875rem;
  color: var(--txt-sub);
}
header .menu-btn__mo {
  display: none;
}
header .menu-btn__mo a {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  background: url("/images/common/menu_btn_mobile.svg") right 50% no-repeat;
}
header .menu-close {
  width: 2.25rem;
  height: 2.25rem;
  background: url("/images/common/menu_close_btn.svg") right 50% no-repeat;
}
header .menu-mo {
  position: fixed;
  display: none;
  max-width: 25rem;
  width: 100%;
  height: 100vh;
  padding: 0.625rem 1.25rem;
  top: 0;
  right: -100%;
  border-left: 1px solid var(--color-border);
  background: #fff;
  transition: right 0.5s;
  z-index: 9999;
}
header .menu-mo .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu-mo nav {
  position: relative;
  margin-top: 3.125rem;
  z-index: 1;
}
header .menu-mo nav a {
  position: relative;
  display: block;
  padding: 1.125rem 0;
  font-size: 1.375rem;
  font-weight: 500;
}
header .menu-mo nav a::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background: url("/images/common/menu_arrow_mobile.svg") center/cover no-repeat;
}
header .menu-mo .bottom {
  position: relative;
  margin-top: 1.875rem;
  text-align: center;
  z-index: 1;
}
header .menu-mo .bottom a {
  display: block;
}
header .menu-mo .bottom .logout {
  padding: 1.25rem 0;
  font-size: 0.937rem;
  color: var(--txt-sub);
}
header .menu-mo .bg {
  position: absolute;
  right: -10px;
  bottom: -25px;
}

/*.btn-list {
  position: fixed;
  max-height: calc(100vh - 40px);
  padding: 16px;
  top: 20px;
  left: 20px;
  border-radius: 0.938rem;
  background: rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  color: #333;
  overflow-y: auto;
  backdrop-filter: blur(15px);
  z-index: 9999;
}
.btn-list a {
  display: block;
  padding: 3px 10px;
}
.btn-list a:hover {
  color: var(--color-primary);
}
.btn-list ul {
  display: none;
}
.btn-list button {
  font-weight: 700;
  color: var(--color-primary);
}
.btn-list .tit {
  font-weight: 700;
  margin: 14px 0 6px;
}
.btn-list .tit:first-of-type {
  margin-top: 14px;
}*/

footer {
  text-align: center;
  background: var(--bg-sky);
}
footer .inner {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
footer .ft-logo {
  margin-bottom: 1.5rem;
}
footer li {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--txt-disabled);
}
footer li:not(:last-of-type) {
  margin-bottom: 0.375rem;
}

.wrapper {
  min-height: calc(100vh - 13.125rem);
  padding: 4.375rem 0 6.25rem;
}

.tit-wrap {
  margin-bottom: 3.125rem;
}
.tit-wrap.center {
  text-align: center;
}
.tit-wrap h2 {
  font-size: 2.125rem;
  font-weight: 700;
}

@media only screen and (max-width: 1240px) {
  header .logo a {
    width: 74px;
  }
  header nav.pc a {
    padding: 1.5rem 0.625rem;
    font-size: 0.938rem;
  }
}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 960px) {
  html {
    font-size: 15px;
  }
  header nav.pc, header .right {
    display: none;
  }
  header .menu-btn__mo {
    display: block;
  }
  header .logo {
    width: 74px;
  }
  header .menu-mo {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 2.875rem 0 6.25rem;
  }
  .tit-wrap {
    margin-bottom: 1.875rem;
  }
  .tit-wrap h2 {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 640px) {

}
@media only screen and (max-width: 540px) {

}
@media only screen and (max-width: 450px) {

}
@media only screen and (max-width: 400px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 300px) {
  .wrap {
    min-width: 300px;
  }
}

.ticketing-top {
  margin: auto;
  margin-top: 100px;
  height: 30px;
  width: 1100px;
  border: 1px solid #A5CD48;
  border-radius: 20px 20px 0 0 / 20px 20px 0 0;
  background-color: #A5CD48;
  text-align: right;
}

.ticketing-top-text {
  margin-top: 5px;
  margin-right: 35px;
  font-size: medium;
  color: white;
}

.ticketing-bottom {
  margin: auto;
  height: 185px;
  width: 1100px;
  border: 1px solid white;
  border-radius: 0 0 20px 20px / 0 0 20px 20px;
  background-color: white;
}

.ticketing-bottom-inner {
  margin: auto;
  margin-top: 30px;
  height: 140px;
  width: 1040px;
}

.ticketing-bottom-inner-bottom {
  display: flex;
  margin: auto;
  margin-top: 30px;
  height: 80px;
  width: 1040px;
}

.ticketing-select-btn {
  display: flex;
  height: 60px;
  width: 220px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2f6f9;
  cursor: pointer;
}

.ticketing-select-btn-input {
  height: 60px;
  width: 160px;
  border: none;
  outline: none;
  cursor: pointer;
}

.location-img {
  width: 18px;
  height: 27px;
  margin: auto;
  background-image: url("/images/common/locator.png");
  background-size: cover;
}

.calender-img {
  width: 33px;
  height: 33px;
  margin: auto;
  background-image: url("/images/common/calendar.png");
  background-size: cover;
}

.man-img {
  width: 20px;
  height: 30px;
  margin: auto;
  background-image: url("/images/common/man.png");
  background-size: cover;
}

.submit-btn {
  height: 60px;
  width: 90px;
  border: none;
  border-radius: 10px;
  background-color: #A5CD48;
  color: white;
  cursor: pointer;
}

.small-text {
  font-size: x-small;
}

.main-select-btn {
  height: 34px;
  width: 114px;
}

.select-btn-list {
  display: flex;
  height: 34px;
  background-color: #f2f6f9;
  border-radius: 40px;
}

.select-btn {
  display: flex;
  border-radius: 40px;
  font-size: medium;
  cursor: pointer;
}

.select-btn-label {
  height: 34px;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 14px;
  cursor: pointer;
}

.on {
  background-color: #A5CD48;
  color: white;
}

.btn-not-visible {
  opacity: 0;
  cursor: pointer;
}

.logo-img {
  background: url("/images/common/olive.png");
}

.main-bak {
  /*background: url("/images/common/plane2.jpg") right 50% no-repeat;*/
  background-color: black;
}
/*# sourceMappingURL=common.css.map */
