
:root {
    --color-primary: #2E66E9;
    --color-red: #FF6060;
    --color-border: #E8E8E8;
    --color-green: #13793d;
    --color-purple: #915BFF;
    --txt-gray: #5d626f;
    --txt-sub: #7F8695;
    --txt-disabled: #a0a2a5;
    --bg-sky: #f8f9fb;
    --bg-blue: #e5edfb;
    --bg-red: #FFECEC;
    --bg-green: #e5f5ed;
    --bg-purple: #EEEBFF;
    --btn-border: #dfdfdf;
}

html {
    font-size: 16px;
}
body {
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: -0.5pt;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e5e5e8;
}
.inner {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.chk-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem 1.25rem !important;
}

.pagination {
    margin-top: 2.5rem;
    ul {
        display: flex;
        justify-content: center;
        gap: 0.25rem;
    }
    li {
        button {
            display: block;
            min-width: 1.875rem;
            height: 1.875rem;
            text-align: center;
            border-radius: 0.313rem;
            color: var(--txt-sub);
            &:not(.start, .prev, .next, .end) {
                padding: 0 0.313rem;
            }
            &.start, &.prev, &.next, &.end {
                width: 1.875rem;
                img {
                    width: 100%;
                }
            }
        }
        &.on {
            button {
                background: var(--color-primary);
                color: #fff;
            }
        }
    }
}

html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    padding-top: 0.7rem;
    font-size: 14px;
    text-align: center;
    border: 0;
    border-radius: 50%;
    color: var(--txt-gray);
    background-color: transparent;
}

//header
header {
    border-bottom: 1px solid var(--color-border);
    background: #fff;
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        a {
            display: block;
            width: 12.188rem;
            padding: 0.75rem 0;
            img {
                width: 100%;
            }
        }
    }
    nav {
        &.pc {
            > ul {
                > li {
                    position: relative;
                    display: inline-block;
                    //&::after {
                    //    content: '';
                    //    position: absolute;
                    //    width: 6px;
                    //    height: 6px;
                    //    top: 12px;
                    //    left: 50%;
                    //    transform: translate(-50%);
                    //    border-radius: 50%;
                    //    background: #c0d2ff;
                    //    opacity: 0;
                    //    transition: opacity ease .2s;
                    //}
                    &:hover {
                        color: var(--color-primary);
                        //&::after {
                        //    opacity: 1;
                        //}
                        span {
                            &::after {
                                width: calc(100% + 6px);
                            }
                        }
                    }
                    > a {
                        display: block;
                        padding: 1.5rem 1.25rem;
                        font-weight: 500;
                        transition: color ease .2s;
                    }
                    span {
                        position: relative;
                        z-index: 1;
                        &::after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 8px;
                            bottom: -2px;
                            left: -3px;
                            border-radius: 8px;
                            background: #e6f3ff;
                            z-index: -1;
                            transition: width ease .3s;
                        }
                    }
                }
            }
            .dep2 {
                position: absolute;
                display: none;
                padding: 6px;
                top: 64px;
                left: 50%;
                transform: translate(-50%);
                border: 1px solid var(--color-border);
                border-radius: 0 0 10px 10px;
                background: #fff;
                li {
                    display: block;
                    &:not(:last-of-type) {
                        margin-bottom: 4px;
                    }
                }
                a {
                    display: block;
                    width: 170px;
                    padding: 14px 18px;
                    font-size: 15px;
                    font-weight: 500;
                    border-radius: 6px;
                    color: var(--txt-gray);
                    transition: color ease .2s, background-color ease .2s;
                    &:hover {
                        color: var(--color-primary);
                        background: #f3f7ff;
                    }
                }
            }
        }
    }
    .right {
        li {
            display: inline-block;
            &:not(:last-of-type) {
                margin-right: 0.875rem;
            }
        }
        a {
            font-size: 0.875rem;
            color: var(--txt-sub);
        }
    }
    .menu-btn__mo {
        display: none;
        a {
            display: block;
            width: 2.25rem;
            height: 2.25rem;
            background: url("/images/common/menu_btn_mobile.svg") right 50% no-repeat;
        }
    }
    .menu-close {
        width: 2.25rem;
        height: 2.25rem;
        background: url("/images/common/menu_close_btn.svg") right 50% no-repeat;
    }
    .menu-mo {
        position: fixed;
        display: none;
        max-width: 25rem;
        width: 100%;
        height: 100vh;
        padding: 0.625rem 1.25rem;
        top: 0;
        right: -100%;
        border-left: 1px solid var(--color-border);
        background: #fff;
        transition: right .5s;
        z-index: 9999;
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        nav {
            position: relative;
            margin-top: 3.125rem;
            z-index: 1;
            a {
                position: relative;
                display: block;
                padding: 1.125rem 0;
                font-size: 1.375rem;
                font-weight: 500;
                &::after {
                    content: '';
                    position: absolute;
                    width: 1rem;
                    height: 1rem;
                    top: 50%;
                    right: 0;
                    transform: translate(0, -50%);
                    background: url("/images/common/menu_arrow_mobile.svg") center /cover no-repeat;
                }
            }
        }
        .bottom {
            position: relative;
            margin-top: 1.875rem;
            text-align: center;
            z-index: 1;
            a {
                display: block;
            }
            .logout {
                padding: 1.25rem 0;
                font-size: 0.937rem;
                color: var(--txt-sub);
            }
        }
        .bg {
            position: absolute;
            right: -10px;
            bottom: -25px;
        }
    }
}

//footer
footer {
    text-align: center;
    background: var(--bg-sky);
    .inner {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .ft-logo {
        margin-bottom: 1.5rem;
    }
    li {
        font-size: 0.875rem;
        font-weight: 300;
        color: var(--txt-disabled);
        &:not(:last-of-type) {
            margin-bottom: 0.375rem;
        }
    }
}

//common
.wrapper {
    min-height: calc(100vh - 13.125rem);
    padding: 4.375rem 0 6.25rem;
}
.tit-wrap {
    margin-bottom: 3.125rem;
    &.center {
        text-align: center;
    }
    h2 {
        font-size: 2.125rem;
        font-weight: 700;
    }
}

//media
@media only screen and (max-width: 1240px) {
    //header
    header {
        .logo {
            a {
                width: 10.625rem;
            }
        }
        nav {
            &.pc {
                a {
                    padding: 1.5rem 0.625rem;
                    font-size: 0.938rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 960px) {
    html {
        font-size: 15px;
    }

    //header
    header {
        nav.pc, .right {
            display: none;
        }
        .menu-btn__mo {
            display: block;
        }
        .logo {
            width: 8.75rem;
        }
        .menu-mo {
            display: block;
        }
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        padding: 2.875rem 0 6.25rem;
    }
    .tit-wrap {
        margin-bottom: 1.875rem;
        h2 {
            font-size: 1.75rem;
        }
    }
}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 540px) {

}

@media only screen and (max-width: 450px) {

}

@media only screen and (max-width: 400px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 300px) {

}