
:root {
  --color-primary: #2E66E9;
  --color-red: #FF6060;
  --color-border: #E8E8E8;
  --color-green: #13793d;
  --color-purple: #915BFF;
  --txt-gray: #5d626f;
  --txt-sub: #7F8695;
  --txt-disabled: #a0a2a5;
  --bg-sky: #f8f9fb;
  --bg-blue: #e5edfb;
  --bg-red: #FFECEC;
  --bg-green: #e5f5ed;
  --bg-purple: #EEEBFF;
  --btn-border: #dfdfdf;
}

html {
  font-size: 16px;
}

body {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5pt;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e5e5e8;
}

.inner {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/*.radio input {
  width: 22px;
  height: 22px;
}
.radio input::before {
  border-radius: 50%;
  background: #ebebeb;
}
.radio input::after {
  width: 8px;
  height: 8px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background: #fff;
}
.radio input:checked::before {
  background: var(--color-primary);
}
.radio span {
  width: calc(100% - 6px);
  padding-left: 6px;
}*/




button {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  border: 0;
  line-height: 1;
  letter-spacing: -0.5pt;
  cursor: pointer;
}

.btn {
  display: inline-block;
  min-width: 6.25rem;
  height: 3rem;
  padding: 1rem 1.5rem;
  text-align: center;
  white-space: nowrap;
  font-size: 0.938rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: background-color ease 0.1s, border ease 0.1s;
  cursor: pointer;
  outline-offset: 3px;
}
.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn.blue {
  background: var(--color-primary);
  color: #fff;
}
.btn.blue:hover {
  background: #1c57e1;
}
.btn.sky {
  background: #e9f1ff;
  color: var(--color-primary);
}
.btn.sky:hover {
  background: #e0ebff;
}
.btn.gray {
  background: #eff2f5;
  color: var(--txt-gray);
}
.btn.gray:hover {
  background: #e5e9ef;
}
.btn.red {
  border: 1px solid var(--btn-border);
  background: #fff;
  color: var(--color-red);
}
.btn.red:hover {
  border: 1px solid var(--color-red);
}
.btn.green {
  background: var(--bg-green);
  color: var(--color-green);
}
.btn.green:hover {
  background: #d2f1e2;
}
.btn.border {
  border: 1px solid var(--btn-border);
  background: #fff;
  color: var(--color-primary);
}
.btn.border:hover {
  border: 1px solid var(--color-primary);
}
.btn img {
  width: 0.875rem;
  margin: 0 0.25rem -0.125rem 0;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  gap: 0.375rem;
  margin-top: 2.5rem;
}
.btn-wrap.right {
  justify-content: flex-end;
  margin-top: 1.25rem;
}

.btn-reset {
  min-width: auto;
  height: 2.125rem;
  margin-top: 1.25rem;
  padding: 0.563rem 1.125rem;
  font-size: 0.875rem;
  border-radius: 1rem;
}

header {
  border-bottom: 1px solid var(--color-border);
  background: #fff;
}
header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo a {
  display: block;
  width: 74px;
  padding: 0.75rem 0;
}
header .logo a img {
  width: 100%;
}
header nav.pc > ul > li {
  position: relative;
  display: inline-block;
}
header nav.pc > ul > li:hover {
  color: var(--color-primary);
}
header nav.pc > ul > li:hover span::after {
  width: calc(100% + 6px);
}
header nav.pc > ul > li > a {
  display: block;
  padding: 1.5rem 1.25rem;
  font-weight: 500;
  transition: color ease 0.2s;
}
header nav.pc > ul > li span {
  position: relative;
  z-index: 1;
}
header nav.pc > ul > li span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 8px;
  bottom: -2px;
  left: -3px;
  border-radius: 8px;
  background: #e6f3ff;
  z-index: -1;
  transition: width ease 0.3s;
}
header nav.pc .dep2 {
  position: absolute;
  display: none;
  padding: 6px;
  top: 64px;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid var(--color-border);
  border-radius: 0 0 10px 10px;
  background: #fff;
}
header nav.pc .dep2 li {
  display: block;
}
header nav.pc .dep2 li:not(:last-of-type) {
  margin-bottom: 4px;
}
header nav.pc .dep2 a {
  display: block;
  width: 170px;
  padding: 14px 18px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  color: var(--txt-gray);
  transition: color ease 0.2s, background-color ease 0.2s;
}
header nav.pc .dep2 a:hover {
  color: var(--color-primary);
  background: #f3f7ff;
}
header .right li {
  display: inline-block;
}
header .right li:not(:last-of-type) {
  margin-right: 0.875rem;
}
header .right a {
  font-size: 0.875rem;
  color: var(--txt-sub);
}
header .menu-btn__mo {
  display: none;
}
header .menu-btn__mo a {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  background: url("/images/common/menu_btn_mobile.svg") right 50% no-repeat;
}
header .menu-close {
  width: 2.25rem;
  height: 2.25rem;
  background: url("/images/common/menu_close_btn.svg") right 50% no-repeat;
}
header .menu-mo {
  position: fixed;
  display: none;
  max-width: 25rem;
  width: 100%;
  height: 100vh;
  padding: 0.625rem 1.25rem;
  top: 0;
  right: -100%;
  border-left: 1px solid var(--color-border);
  background: #fff;
  transition: right 0.5s;
  z-index: 9999;
}
header .menu-mo .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu-mo nav {
  position: relative;
  margin-top: 3.125rem;
  z-index: 1;
}
header .menu-mo nav a {
  position: relative;
  display: block;
  padding: 1.125rem 0;
  font-size: 1.375rem;
  font-weight: 500;
}
header .menu-mo nav a::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background: url("/images/common/menu_arrow_mobile.svg") center/cover no-repeat;
}
header .menu-mo .bottom {
  position: relative;
  margin-top: 1.875rem;
  text-align: center;
  z-index: 1;
}
header .menu-mo .bottom a {
  display: block;
}
header .menu-mo .bottom .logout {
  padding: 1.25rem 0;
  font-size: 0.937rem;
  color: var(--txt-sub);
}
header .menu-mo .bg {
  position: absolute;
  right: -10px;
  bottom: -25px;
}

/*.btn-list {
  position: fixed;
  max-height: calc(100vh - 40px);
  padding: 16px;
  top: 20px;
  left: 20px;
  border-radius: 0.938rem;
  background: rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  color: #333;
  overflow-y: auto;
  backdrop-filter: blur(15px);
  z-index: 9999;
}
.btn-list a {
  display: block;
  padding: 3px 10px;
}
.btn-list a:hover {
  color: var(--color-primary);
}
.btn-list ul {
  display: none;
}
.btn-list button {
  font-weight: 700;
  color: var(--color-primary);
}
.btn-list .tit {
  font-weight: 700;
  margin: 14px 0 6px;
}
.btn-list .tit:first-of-type {
  margin-top: 14px;
}*/

footer {
  text-align: center;
  background: var(--bg-sky);
}
footer .inner {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
footer .ft-logo {
  margin-bottom: 1.5rem;
}
footer li {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--txt-disabled);
}
footer li:not(:last-of-type) {
  margin-bottom: 0.375rem;
}

.wrapper {
  min-height: calc(100vh - 13.125rem);
  padding: 4.375rem 0 6.25rem;
}

.tit-wrap {
  margin-bottom: 3.125rem;
}
.tit-wrap.center {
  text-align: center;
}
.tit-wrap h2 {
  font-size: 2.125rem;
  font-weight: 700;
}

@media only screen and (max-width: 1240px) {
  header .logo a {
    width: 74px;
  }
  header nav.pc a {
    padding: 1.5rem 0.625rem;
    font-size: 0.938rem;
  }
}
@media only screen and (max-width: 1024px) {
  .table-container.type2 table {
    min-width: 1400px;
  }
}
@media only screen and (max-width: 960px) {
  html {
    font-size: 15px;
  }
  header nav.pc, header .right {
    display: none;
  }
  header .menu-btn__mo {
    display: block;
  }
  header .logo {
    width: 74px;
  }
  header .menu-mo {
    display: block;
  }

  .table-container td .small {
    display: inline-block;
    padding: 0;
    font-size: 0.938rem;
  }
  .table-container tbody td.tit span {
    word-break: break-all;
  }
  .table-container tbody td.new span::after {
    top: 4px;
  }
  .table-container tbody td .btn {
    margin: 0;
    padding: 0.4rem 1rem;
  }
  .table-container.type1 {
    overflow: initial;
  }
  .table-container.type1 colgroup {
    display: none;
  }
  .table-container.type1 thead {
    display: none;
  }
  .table-container.type1 tbody tr {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 1rem 0.375rem 1rem;
  }
  .table-container.type1 tbody tr:first-of-type {
    border-top: 1px solid #000;
  }
  .table-container.type1 tbody tr:nth-of-type(even) {
    background: var(--bg-sky);
  }
  .table-container.type1 tbody td {
    order: 3;
    display: inline-block;
    width: calc(50% - 2px);
    padding: 0 0 0.625rem 0;
    text-align: left;
    white-space: initial;
    line-height: 1.3;
  }
  .table-container.type1 tbody td.wide {
    width: 100%;
  }
  .table-container.type1 tbody .txt-hidden {
    position: relative;
    padding: 0 0 0.625rem 6.25rem;
  }
  .table-container.type1 tbody .txt-hidden::before {
    content: attr(data-before);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, calc(-50% - 0.313rem));
    font-size: 0.875rem;
    color: var(--txt-gray);
  }
  .table-container.type1 tbody .tit {
    width: 100%;
  }
  .table-container.type1 tbody .num {
    order: 1;
    width: 100%;
    padding: 0 0 1rem 1.5rem;
    font-size: 0.875rem;
    color: var(--txt-sub);
  }
  .table-container.type1 tbody .num::before {
    transform: translate(0, calc(-50% - 0.5rem));
  }
  .table-container.type1 tbody .main-txt {
    order: 2;
    width: 100%;
    padding: 0 0 0.75rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    word-break: break-all;
    white-space: initial;
  }
  .table-container.type1 tbody .button {
    width: 100%;
    padding-top: 0.75rem;
    border-top: 1px dashed var(--color-border);
  }
  .table-container.type1 tbody .dashed, .table-container.type1 tbody .dashed-hidden {
    margin-bottom: 0.625rem;
    border-bottom: 1px dashed var(--color-border);
  }
  .table-container.type1 tbody select, .table-container.type1 tbody input[type=text], .table-container.type1 tbody input[type=number] {
    margin: 0;
  }
  .table-container.type1 tbody .abs-r, .table-container.type1 tbody .abs-l {
    position: absolute !important;
    width: auto;
    top: 1rem;
  }
  .table-container.type1 tbody .abs-r {
    right: 1rem;
  }
  .table-container.type1 tbody .abs-l {
    left: 1rem;
  }
  .table-container.type1 tbody .order1 {
    order: 0;
  }
  .table-container.rel-l tbody tr {
    padding: 1rem 1rem 0.375rem 3.625rem;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 2.875rem 0 6.25rem;
  }
  .tit-wrap {
    margin-bottom: 1.875rem;
  }
  .tit-wrap h2 {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 640px) {

}
@media only screen and (max-width: 540px) {
  .table-container.type1 tbody .txt-hidden {
    width: 100%;
  }
  .table-container.type1 tbody .dashed-hidden {
    margin-bottom: 0;
    border-bottom: 0;
  }
  .table-container.type1 .button {
    display: flex;
  }
  .table-container.type1 .button .btn {
    width: 100%;
  }
  .table-container.rel-l tbody tr {
    padding: 3.625rem 1rem 0.375rem 1rem;
  }
}
@media only screen and (max-width: 450px) {

}
@media only screen and (max-width: 400px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 300px) {
  .wrap {
    min-width: 300px;
  }
}

.ticketing-top {
  margin: auto;
  margin-top: 100px;
  height: 30px;
  width: 1100px;
  border: 1px solid #A5CD48;
  border-radius: 20px 20px 0 0 / 20px 20px 0 0;
  background-color: #A5CD48;
  text-align: right;
}

.ticketing-top-text {
  margin-top: 5px;
  margin-right: 35px;
  font-size: medium;
  color: white;
}

.ticketing-bottom {
  margin: auto;
  height: 185px;
  width: 1100px;
  border: 1px solid white;
  border-radius: 0 0 20px 20px / 0 0 20px 20px;
  background-color: white;
}

.ticketing-bottom-inner {
  margin: auto;
  margin-top: 30px;
  height: 140px;
  width: 1040px;
}

.ticketing-bottom-inner-bottom {
  display: flex;
  margin: auto;
  margin-top: 30px;
  height: 80px;
  width: 1040px;
}

.ticketing-select-btn {
  display: flex;
  height: 60px;
  width: 200px;
  margin-right: 20px;
  padding-left: 12px;
  padding-right: 10px;
  background-color: #f2f6f9;
  cursor: pointer;
}

.ticketing-select-btn-input {
  height: 60px;
  width: 160px;
  border: none;
  outline: none;
  cursor: pointer;
  color: gray;
}

.ticketing-select-btn-calender {
  display: flex;
  height: 60px;
  width: 280px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2f6f9;
  cursor: pointer;
}

.ticketing-select-btn-calender-input {
  height: 60px;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: gray;
}

.calender-span {
  margin: auto;
  height: 20px;
}

.ticketing-select-btn-div {
  margin: auto;
  display: flex;
  width: 160px;
  color: gray;
}

.ticketing-select-btn-div > span {
  width: 28px;
  cursor: pointer;
  color: gray;
  font-size: 14px;
}

.ticketing-select-btn-div > p {
  width: 14px;
  cursor: pointer;
  color: gray;
  font-size: 14px;
}

.location-img {
  width: 18px;
  height: 27px;
  margin: auto;
  background-image: url("/images/common/locator.png");
  background-size: cover;
}

.calender-img {
  width: 33px;
  height: 33px;
  margin: auto;
  background-image: url("/images/common/calendar.png");
  background-size: cover;
}

.man-img {
  width: 20px;
  height: 30px;
  margin: auto;
  background-image: url("/images/common/man.png");
  background-size: cover;
}

.submit-btn {
  height: 60px;
  width: 90px;
  border: none;
  border-radius: 10px;
  background-color: #A5CD48;
  color: white;
  cursor: pointer;
}

.small-text {
  font-size: x-small;
}

.main-select-btn {
  height: 34px;
  width: 114px;
}

.select-btn-list {
  display: flex;
  height: 34px;
  background-color: #f2f6f9;
  border-radius: 40px;
}

.select-btn {
  display: flex;
  border-radius: 40px;
  font-size: medium;
  cursor: pointer;
}

.select-btn-label {
  height: 34px;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 14px;
  cursor: pointer;
}

.btn-not-visible {
  opacity: 0;
  cursor: pointer;
}

.logo-img {
  background: url("/images/common/olive.png");
}

.biglogo-img {
  background: url("/images/common/olive-big.png");
}

.main-bak {
  background: url("/images/common/plane2.jpg") right 50% no-repeat;
  /*background-color: black;*/
}
/*# sourceMappingURL=common.css.map */



.page-top {
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E5E5E5;
}
.page-tit {
  font-size: 30px;
}


.tit-decoration {
  position: relative;
  display: inline-block;
}
.tit-decoration::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  bottom: 2px;
  right: -15px;
  border-radius: 50%;
  background: #5bd245;
}

/* essential */
.essential-txt {
  position: relative;
  margin-left: auto;
  font-size: 15px;
  color: #6B6B6B;
}
.essential-txt::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 1px;
  left: -8px;
  border-radius: 5px;
  background: #FF6565;
}


/* form */
.form-tit {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form-list {
  border-top: 1px solid #05a84c;
}
.form-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #E9E9E9;
}
.form-item > div {
  display: flex;
  gap: 10px;
  width: calc(100% - 130px);
}
.form-item > div .btn {
  min-width: 80px;
  width: 80px;
  height: 47px;
  padding: 16px 0;
  font-size: 14px;
}
.form-item > div.id input, .form-item > div.certifi input {
  max-width: 350px;
}
.form-item > div.address {
  flex-direction: column;
  gap: 10px;
}
.form-item > div.address > div {
  display: flex;
  gap: 10px;
}
.form-item > div.personal-no {
  max-width: 440px;
}
.form-item > div.personal-no span {
  margin-top: 13px;
}
.form-item > div.number {
  max-width: 440px;
}
.form-item > div.file, .form-item > div.preview {
  max-width: 440px;
  align-items: center;
}
.form-item > div.email {
  align-items: center;
}
.form-item > div.email input:first-of-type {
  max-width: 180px;
}
.form-item > div.email input:nth-of-type(2) {
  max-width: 225px;
}
.form-item > div.email select {
  max-width: 240px;
}
.form-item > div.chk-list {
  padding: 5px 0;
}
.form-item input, .form-item .readonly {
  max-width: 440px;
}
.form-item .label {
  width: 130px;
  font-size: 15px;
  font-weight: 500;
}
.form-item .label.essential span {
  position: relative;
}
.form-item .label.essential span::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 1px;
  right: -10px;
  border-radius: 5px;
  background: #FF6565;
}
.form-item .help-txt {
  width: 100%;
  padding: 10px 0 0 130px;
  font-size: 15px;
  color: #3C72D1;
}
.form-item .help-txt.warning {
  color: #FF6565;
}


/* join */
.join {
  background-color: #f0fdee;
}

.join-process {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-bottom: 35px;
}
.join-process li:not(:last-of-type) .num {
  position: relative;
}
.join-process li:not(:last-of-type) .num::after {
  content: "";
  position: absolute;
  width: 50px;
  top: 50%;
  left: calc(100% + 10px);
  transform: translate(0, -50%);
  border-bottom: 1px dashed #A2A2A2;
}
.join-process li.on .num {
  border: 0;
  background: #5bd245;
  color: #fff;
}
.join-process li.on p {
  color: #5bd245;
}
.join-process li.past .num {
  border: 1px solid #5bd245;
  color: #5bd245;
}
.join-process li.past .num::after {
  border-bottom: 1px dashed #5bd245;
}
.join-process li.past p {
  color: #5bd245;
}
.join-process .num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  color: #A2A2A2;
}
.join-process p {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #A2A2A2;
}
.id span {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.938rem;
  color: gray;
}
.password span {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.938rem;
  color: gray;
}


/* button */
.btn {
  display: inline-block;
  min-width: 100px;
  max-height: 55px;
  padding: 16px 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
  border: none;
}
.btn.lightgreen {
  border: 1px solid transparent;
  background: #e7ffe4;
  color: #05a84c;
}
.btn.lightgreen:hover {
  background: #d2fdc8;
}
.btn.green {
  border: 1px solid transparent;
  background: #05a84c;
  color: #fff;
}
.btn.green:hover {
  background: #03853c;
}
.btn.gray {
  background: #F5F5F5;
  color: #A2A2A2;
}
.btn.gray:hover {
  background: #efefef;
}
.btn-area {
  display: flex;
  justify-content: right;
  gap: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}


/* input, select */
input, select {
  width: 100%;
  height: 47px;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
}

.center-parent {
  display: flex;
}

.center-child {
  margin: auto;
}


/* Login */
.logo-size {
  width: 300px;
  height: auto;
}

.wrap {
  width: auto;
  min-height: 80vh;
}

.login-area {
  width: 600px;
  margin-top: 50px;
}

.login-box {
  padding: 50px 50px;
  text-align: center;
  border-radius: 0.8rem;
  background: #fff;
}
.login-box h2 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
}
.login-box input {
  display: block;
}
.login-box input:first-of-type {
  margin-bottom: 25px;
}
.login-box .error_text {
  margin: -3px 0 10px 2px;
  font-size: 14px;
  text-align: left;
  color: #FF6565;
}

.login-btn, .find-btn {
  width: 100%;
  max-height: 54px;
  padding: 18px 20px;
}

.login-btn {
  margin: 20px 0 25px;
}

.login-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-link a {
  font-size: 15px;
  color: #A2A2A2;
}
.login-link .find a:first-of-type {
  position: relative;
  margin-right: 20px;
}
.login-link .find a:first-of-type::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  top: 1px;
  right: -12px;
  background: #E5E5E5;
}


/* Join-Complete */
.join-complete {
  padding: 50px 0;
  text-align: center;
  border-radius: 5px;
  background: #f0fdee;
}
.join-complete img {
  margin: 0 auto 25px;
}
.join-complete strong {
  font-size: 24px;
  font-weight: 700;
}
.join-complete p {
  margin: 15px 0 50px;
  font-size: 15px;
  color: #6B6B6B;
}
.join-complete p span {
  color: #5bd245;
}

.tit-area {
  margin-bottom: 30px;
}
.tit-area p {
  font-size: 0.938rem;
  color: #777777;
}
.btn-login {
  width: 100%;
  height: 3.375rem;
}

.text-left {
  text-align: left;
}

.margin-bottom {
  margin-bottom: 25px;
}



/*  table */
.table-container {
  overflow-x: auto;
}
.table-container table {
  width: 100%;
  max-width: 1280px;
}
.table-container td.left {
  text-align: left;
}
.table-container td.wrap {
  white-space: initial;
}
.table-container td .small {
  display: block;
  padding: 0.25rem 0;
  font-size: 0.875rem;
  color: var(--color-primary);
}
.table-container td .small.gray {
  color: var(--txt-gray);
}
.table-container td.normal {
  white-space: normal;
}
.table-container thead th {
  padding: 1.125rem 0.625rem;
  font-size: 0.938rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  color: var(--txt-gray);
  background: #f0fdee;
  vertical-align: middle;
}
.table-container thead th:first-of-type {
  border-radius: 0.625rem 0 0 0.625rem;
}
.table-container thead th:last-of-type {
  border-radius: 0 0.625rem 0.625rem 0;
}
.table-container thead th .chk-box, .table-container thead th .radio-box {
  vertical-align: middle;
}
.table-container tbody tr {
  border-bottom: 1px solid var(--color-border);
}
.table-container tbody td {
  min-height: 0.937rem;
  padding: 1.25rem 0.625rem;
  font-size: 0.938rem;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  transition: color ease 0.2s;
}
.table-container tbody td.tit {
  text-align: left;
  white-space: initial;
}
.table-container tbody td.tit span {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.table-container tbody td.new span {
  position: relative;
  padding-left: 1.375rem;
}
.table-container tbody td.new span::after {
  content: "N";
  position: absolute;
  width: 0.938rem;
  top: 0;
  left: 0;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 0.938rem;
  text-align: center;
  border-radius: 0.188rem;
  background: var(--color-red);
  color: #fff;
}
.table-container tbody td.cursor:hover {
  color: var(--color-primary);
  cursor: pointer;
}
.table-container tbody td.button {
  font-size: 0;
}
.table-container tbody td.button .btn:not(:last-of-type) {
  margin-right: 5px;
}
.table-container tbody td .btn {
  min-width: 2.5rem;
  height: 2rem;
  margin: -0.313rem 0;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}
.table-container tbody td select {
  max-width: 6.25rem;
}
.table-container tbody td select, .table-container tbody td input[type=text], .table-container tbody td input[type=number] {
  min-width: 5rem;
  height: 2rem;
  margin: -0.125rem 0;
  padding: 0 0.5rem;
  font-size: 0.875rem;
}
.table-container tbody td .chk-box input, .table-container tbody td .radio-box input {
  vertical-align: middle;
}
.table-container tbody td .chk-wrap .chk-box, .table-container tbody td .chk-wrap .radio-box, .table-container tbody td .radio-wrap .chk-box, .table-container tbody td .radio-wrap .radio-box {
  margin: 0;
}
.table-container.type2 thead tr {
  border-bottom: 1px solid var(--color-border);
}
.table-container.type2 thead tr:first-of-type {
  border-top: 1px solid #c6ccdb;
}
.table-container.type2 th {
  padding: 0.625rem 0.625rem;
}
.table-container.type2 th:not(:last-of-type), .table-container.type2 td:not(:last-of-type) {
  border-right: 1px solid var(--color-border);
}
.table-container.type2 td {
  text-align: left;
}
.table-container.type2 td.center {
  text-align: center;
}
.table-container.type2 td.justify-center {
  text-align: left;
}
.table-container.type2 td.justify-center .chk-wrap, .table-container.type2 td.justify-center .radio-wrap {
  justify-content: center;
}
.table-container.cursor tbody tr:hover {
  cursor: pointer;
}
.table-container.cursor tbody tr:hover td {
  color: var(--color-primary);
}
.table-container .empty td {
  cursor: default;
}

.total {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  margin-bottom: 0.875rem;
  font-size: 0.937rem;
  color: var(--txt-gray);
}
.total .blue {
  color: var(--color-primary);
}
.total b {
  font-weight: 500;
}


.chk-item, .radio-item {
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
  cursor: pointer;
}
.chk-item input, .radio-item input {
  position: relative;
  width: 1.375rem;
  height: 1.375rem;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  vertical-align: top;
  cursor: pointer;
}
.chk-item input::before, .radio-item input::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: -1px;
}
.chk-item input::after, .radio-item input::after {
  content: "";
  position: absolute;
}
.chk-item span, .radio-item span {
  display: inline-block;
  padding-left: 0.5rem;
  font-size: 1rem;
  line-height: 1.375rem;
  vertical-align: middle;
  white-space: normal;
  word-break: break-all;
  cursor: pointer;
}

.chk-item input::before {
  border: 1px solid #dddddd;
  border-radius: 0.438rem;
}
.chk-item input:checked::before {
  border: 1px solid transparent;
  background: #05a84c;
}

.terms-item .chk-item {
  margin-bottom: 0.75rem;
}
.terms-item .chk-item span {
  width: calc(100% - 1.375rem);
}
table th .chk-item, table th .radio-item, table td .chk-item, table td .radio-item {
  vertical-align: middle;
}
.thumbnail-item .chk-item {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  z-index: 1;
}
.code-item .chk-item {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 99;
}
.code-form .col .chk-item {
  display: block;
}

.input-area {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-border-top);
}
.input-area .label {
  display: flex;
  align-items: center;
  width: 11.25rem;
  min-height: 4.125rem;
  padding: 0 1rem;
  font-size: 0.938rem;
  line-height: 1;
}
.input-area .label span {
  line-height: 1.2;
}
.input-area .label.essential span {
  position: relative;
}
.input-area .label.essential span::after {
  content: "*";
  position: absolute;
  top: -0.125rem;
  right: -0.563rem;
  font-size: 0.938rem;
  font-weight: 500;
  color: var(--color-red);
}
.input-area .input-list {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}
.input-area .input-box {
  width: calc(100% - 11.25rem);
  padding: 0.625rem;
}
.input-area .input-box input {
  max-width: 23.125rem;
}
.input-area .input-box select {
  max-width: 15rem;
}
.input-area .input-box textarea {
  min-height: 17.5rem;
}
.input-area .input-box .file-list {
  margin: 0;
}
.input-area .input-box .chk-list, .input-area .input-box .radio-list, .input-area .input-box .toggle-list {
  margin: 0.75rem 0;
}
.input-area .input-box .help-txt {
  display: block;
  padding-top: 0.5rem;
  font-size: 0.938rem;
  color: var(--color-red);
}
.input-area .input-box.input-btn {
  display: flex;
  gap: 0.625rem;
}
.input-area .input-box.date {
  display: flex;
  gap: 0.625rem;
}
.input-area .input-box.email > div {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.input-area .input-box.email > div input[type=text] {
  max-width: 11.25rem;
}
.input-area .input-box.phone > div {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  max-width: 23.125rem;
}
.input-area .input-box.address > div {
  display: flex;
  gap: 0.625rem;
}
.input-area .input-box.address > div:not(:last-of-type) {
  margin-bottom: 0.625rem;
}
.input-area .input-box.address > div:last-of-type {
  max-width: 23.125rem;
}
.input-area .input-box.main-cont {
  min-height: 18.75rem;
  line-height: 1.6 !important;
  word-wrap: break-word;
}
.input-area .input-box.tit input {
  max-width: 100%;
}
.input-area .input-box.small {
  white-space: nowrap;
}
.input-area .input-box.small input[type=text] {
  max-width: 7.5rem;
  margin-right: 0.5rem;
}
.input-area .input-box.report > div:first-of-type {
  display: flex;
  gap: 0.625rem;
}
.input-area .input-box.report .date {
  display: flex;
  gap: 0.625rem;
}
.input-area .input-box.report .table-container {
  display: block;
  margin-top: 20px;
}
.input-area .input-box.responsive {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.input-area .input-box.preview input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}
.input-area .input-box.preview img {
  max-width: 280px;
  width: 100%;
}
.input-area.input-search .input-box input {
  max-width: 30.625rem;
}
.input-area.txt-only .label {
  padding: 1.125rem;
  line-height: 1.3;
  background: skyblue;
  color: gray;
}
.input-area.txt-only .input-list {
  width: 50%;
}
.input-area.txt-only .input-box {
  padding: 1.125rem;
  line-height: 1.3;
}