<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
<div class="wrap">
    <header>
        <div class="inner">
            <h1><a href="javascript:void(0);"><span>Olive</span> Airport</a></h1>
        </div>
    </header>
    <div class="main-cont">
        <div class="inner register-wrap">
            <div class="page-top">
                <ul class="breadcrumbs">
                    <li class="center-parent"><img class="center-child" src="/images/common/olive-big.png"></li>
                </ul>
                <h2 class="page-tit tit-decoration">회원가입</h2>
            </div>
            <div class="cont-area">
                <ul class="join-process">
                    <li class="past">
                        <div class="num">01</div>
                        <p>유형선택</p>
                    </li>
                    <li class="past">
                        <div class="num">02</div>
                        <p>약관동의</p>
                    </li>
                    <li class="past">
                        <div class="num">03</div>
                        <p>정보입력</p>
                    </li>
                    <li class="on">
                        <div class="num">04</div>
                        <p>가입완료</p>
                    </li>
                </ul>
                <div class="join-complete">
                    <img class="center-child" src="/images/common/olive.png">
                    <strong>회원가입 완료</strong>
                    <p><span>Olive 항공에 </span>회원가입이 완료되었습니다.</p>
                    <a class="btn green" href="/static">메인페이지로</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>